{% extends 'base/base.html' %}

{% block title %}Estados{% endblock %}

{% block content %}

<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white me-2">
            <i class="fa fa-search"></i>
        </span> Distritos
    </h3>
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
            </li>
        </ul>
    </nav>
</div>

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">

                <form method="get" action="" style="display: flex; gap: 8px; align-items: center;">
                    <input type="text" name="filter" placeholder="Buscar por nome" value="{{ request.GET.filter }}" class="form-control" style="width: 150px;">
                    <button type="submit" class="btn btn-gradient-primary">Filtrar</button>
                </form>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width: 10%;">Id</th>
                                <th style="width: 50%;">Nome</th>
                                <th style="width: 10%;">Municipio</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in page_obj %}
                            <tr>
                                <td>{{ data.id }}</td>
                                <td>{{ data.name }}</td>
                                <td>

                               <button type="button" data-bs-toggle="modal"
                                        data-bs-target="#regionModal{{ data.district.id }}"
                                        title="Clique para ver detalhes"
                                        style="width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                                        class="btn btn-gradient-primary btn-fw">
                                        {{ data.municipality.name }}
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="regionModal{{ data.district.id }}" tabindex="-1"
                                        aria-labelledby="regionModalLabel{{ data.district.id }}" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Fechar"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p><strong>ID:</strong> {{ data.municipality.id }}</p>
                                                    <p><strong>Nome:</strong> {{ data.municipality.name }}</p>
                                                    <p><strong>Micro Região:</strong> {{ data.municipality.microregion.name }}</p>
                                                    <p><strong>Região Imediata:</strong> {{ data.municipality.immediate_region.name }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center mt-3">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1&filter={{ request.GET.filter }}" aria-label="Primeira">
                                    <span aria-hidden="true">&laquo;&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}&filter={{ request.GET.filter }}" aria-label="Anterior">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled"><span class="page-link">&laquo;&laquo;</span></li>
                            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% if num >= page_obj.number|add:"-2" and num <= page_obj.number|add:"2" %}
                                {% if page_obj.number == num %}
                                    <li class="page-item active" aria-current="page">
                                        <span class="page-link">{{ num }}</span>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ num }}&filter={{ request.GET.filter }}">{{ num }}</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}&filter={{ request.GET.filter }}" aria-label="Próxima">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&filter={{ request.GET.filter }}" aria-label="Última">
                                    <span aria-hidden="true">&raquo;&raquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                            <li class="page-item disabled"><span class="page-link">&raquo;&raquo;</span></li>
                        {% endif %}
                    </ul>
                </nav>

        </div>
    </div>

</div>
</div>
</div>


{% endblock %}